#
# Certificate Bundle
#
CONFIG_MBEDTLS_CERTIFICATE_BUNDLE=n
CONFIG_MBEDTLS_CERTIFICATE_BUNDLE_DEFAULT_FULL=n

#
# ESP NETIF Adapter
#
CONFIG_ESP_NETIF_TCPIP_ADAPTER_COMPATIBLE_LAYER=n

#
# Ethernet
#
CONFIG_ETH_ENABLED=y
CONFIG_ETH_USE_ESP32_EMAC=y
CONFIG_ETH_PHY_INTERFACE_RMII=y
CONFIG_ETH_RMII_CLK_OUTPUT=y
CONFIG_ETH_RMII_CLK_OUTPUT_GPIO0=y

#
# MOWI WiFi Client Configuration
#
CONFIG_MOWI_WIFI_SSID="mowi_wifi_accpoint"
CONFIG_MOWI_WIFI_PSWD="mowi_rocks"
CONFIG_MOWI_FLOW_CONTROL_QUEUE_TIMEOUT_MS=100
CONFIG_MOWI_FLOW_CONTROL_QUEUE_LENGTH=40
CONFIG_MOWI_FLOW_CONTROL_WIFI_SEND_TIMEOUT_MS=100
